input.ng-invalid.ng-touched,
textarea.ng-invalid.ng-touched{
  border: 3px solid red;
}
#loginFailed{
  color: red;
}
.jumbotron{background: none;}

a{margin-left: 1%;
color: dodgerblue;
}
p{ margin-top: 4%}

a:hover{color:black;}

.row{color: black;}
