<footer class="navbar-fixed-bottom">
  <div class="container" id="footer">
    <div class="text-center center-block">
      <a
        href="https://www.facebook.com/bootsnipp"><i id="social-fb" class="fab fa-facebook-square fa-3x social"></i></a>
      <a href="https://twitter.com/"><i id="social-tw" class="fab fa-twitter-square fa-3x social"></i></a>
      <a href="https://instagram.com"><i id="social-insta" class="fab fa-instagram fa-3x social"></i></a>
      <a href="https://plus.google.com/"><i id="social-gp" class="fab fa-google-plus-square fa-3x social"></i></a>
      <a href="mailto:cotxox@gmail.com"><i id="social-em" class="fas fa-envelope-square fa-3x social"></i></a>
      <div class="text-center">
        <p><strong>@Copyright Cotxox 2019</strong></p>
      </div>
    </div>
    <div class="pull-left">
      <p><strong> Developed with: </strong></p>
      <a href="https://developer.mozilla.org/es/docs/Web/CSS"><i id="social-css" class="fab fa-css3-alt fa-3x social"></i></a>
      <a href="https://developer.mozilla.org/es/docs/HTML/HTML5"><i id="social-html" class="fab fa-html5 fa-3x social"></i></a>
      <a href="https://angular.io"><i id="social-angular" class="fab fa-angular fa-3x social"></i></a>
      <a href="https://docs.oracle.com/javase"><i id="social-java" class="fab fa-java fa-3x social"></i></a>
    </div>
    <div class="pull-right text-right">
      <p><strong>Ies Borja Moll, Palma de Mallorca</strong></p>
    </div>
  </div>
</footer>
