<app-header></app-header>
<div class="col-lg-7 center-block">
  <h1 class="jumbotron"> Welcome back {{userService.getUser().getUsername()}} !</h1>
  <h3>We are happy to welcome you to Cotxox</h3>
  <p> Here you can call a taxi from wherever you want and it will take you where you say! </p>
  <p>Characteristics of cotxox: </p>
  <ul class="list-group">
    <li class="list-group">You will know the price from the beginning</li>
    <li class="list-group">You can choose the driver! and rate him or her</li>
  </ul>
</div>
<app-footer></app-footer>
